amplify-chatbot {
  --width: 180px;
  --height: 480px;
  --padding:90px
  --header-size: 15px;
  --bot-margin-top:15px;
  --header-color: blue;
  --bot-background-color: grey;
  --header-color: blue;
}
